<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Graham Hutchinson is a Ruby on Rails developer, who also has experience in Python, Javascript, HTML/HAML, CSS, and C/C++.
  MicroBloggr is a small sample app created as a portfolio piece and to put into practice the concepts he was learning as a
  junior developer.
</p>
