<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  To get started, please create an account. You will be sent an email in order to activate your account. From this point, the app
  will behave a lot like
  <a href="https://www.twitter.com"><em>Twitter</em></a>,
  you can follow people, be followed yourself and create micro blogs to share with your followers
</p>